#box {
    margin: auto;
    padding-top: 2em;
    text-align: center;
}

#box h1 {
    font-size: 110%;
}

#box img {
    display: block;
    margin: auto;
    width: 20em;
    border: 3px solid var(--fg);
}
