#title-box {
    margin: 2em 30%;
    padding: 0.2em;
    text-align: center;
    background: var(--bg-highlight);
    border: 1px solid var(--fg);
    border-radius: var(--border-radius);
}

#title-box h1 {
    font-size: 120%;
}

.content {
    margin: 1em;
}

.content h3, h4 {
    margin-bottom: 0.4em;
}

.content p {
    margin: 0.4em;
}

.content ul {
    margin: 0.4em;
}
