#title-box {
    margin: 2em;
    padding: 0.2em;
    text-align: center;
}

#title-box h1 {
    font-size: 120%;
}

.content {
    margin: 1em;
}

.content h3 {
    margin-bottom: 0.4em;
}

.content p {
    margin: 0.4em;
}

.content ul {
    margin: 0.4em;
    line-height: 1.8;
}
