.project {
    padding: 0 1em;
    margin: 1em;
    background-color: var(--bg-highlight);
    border: 1px solid var(--fg);
    border-radius: var(--border-radius);
}

.project h1 {
    font-size: 130%;
}

.project h1 a {
    color: var(--fg);
    text-decoration: none;
}

.project h1 a:hover {
    text-decoration: underline;
}
