.lower-greek {
    list-style-type: lower-greek;
}

@counter-style upper-greek {
  system: alphabetic;
  symbols: Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω;
  suffix: " ";
}

.upper-greek {
    list-style-type: upper-greek;
}

.long-toc {
    -moz-column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-count: 3;
    -webkit-column-gap: 2em;
    column-count: 3;
    column-gap: 2em;
}

.long-toc li {
    padding-left: 0.5em;
    position: relative;
}

.long-toc li:before {
    margin: 0 0 0 1em;
    text-align: right;
    width: 2em;
    display: inline-block;
    position: absolute;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .long-toc {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
