:root {
    --bg: #ebebeb;
    --fg: #000000;
    --step1: #d1d1d1;
    --step2: #b6b6b6;
    --step3: #9b9b9b;
    --accent-bg: #a3b7ca;
    --accent-fg: #476f95;
    --border-radius: 5px;
}

html {
    margin: 0;

    background: var(--bg);
    color: var(--fg);
}

a {
    color: var(--accent-fg);
    text-decoration: underline;
}
