#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 1px solid var(--fg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--step1);
}

#navbar #nav-head {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #nav-icon {
    display: block;
    margin: 0;
    padding: 0 1em;
    width: 2.0em;
}

#navbar #nav-hamburger {
    display: none;
    width: 2em;
    margin-left: auto;
    padding: 0 1em;
}

#navbar ul#links {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#navbar li {
    text-align: center;
}

#navbar li a {
    color: var(--fg);
    text-decoration: underline;
}

#navbar li.active {
    background-color: var(--step2);
}

#navbar li a:hover {
    color: var(--accent-fg);
}

@media only screen and (min-width: 601px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar ul#links {
        display: block;
        /* margin-left: auto; */
        /* width: ; */
    }

    #navbar li {
        float: left;
        border-right: 1px solid var(--fg);
    }

    #navbar li:last-child {
        border-right: none;
    }

    #navbar li a {
        padding: 1em;
    }

}

@media only screen and (max-width: 600px) {
    #navbar {
        padding: 0;
        margin: auto;
        position: relative;
        width: 80%;
        flex-direction: column;
    }

    #navbar #nav-head {
        width: 100%;
    }

    #navbar #nav-hamburger {
        display: inline-block;
    }

    #navbar ul#links {
        display: none;
        width: 50%;
    }

    #navbar li {
        padding: 0.3em 0;
        border-bottom: 1px solid var(--fg);
    }

    #navbar li:last-child {
        border-bottom: none;
    }
}
