.project {
    padding: 0.3em 1em;
    margin: 1em;
    background-color: var(--bg-highlight);
    border: 1px solid var(--fg);
    border-radius: var(--border-radius);
}

.project-headline {
    display: flex;
    align-items: center;
}

.project-headline h2 {
    margin: 0.2em;
}

.project-headline img {
    padding-right: 0.4em;
    height: 1.7em;
}

.project-headline h2 a {
    color: var(--fg);
    text-decoration: underline;
}

.project-headline h2 a:hover {
    color: var(--accent-fg);
}

.project p {
    margin: 0.3em;
}

.project-description {
    font-style: italic;
    padding-bottom: 0.6em;
}
